<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>

<head>
<title>Création de quiz</title>
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<div class="container">
		<h1 th:if="${quizId==null}">Ajouter un quiz</h1>
		<h1 th:if="${quizId}">Modifier le quiz</h1>
		<form method="post" th:action="@{/manager/createQuiz}">
			<input th:if="${quizId}" type="hidden" name="id" th:value="${quizId}">
			<div class="form-group">
				<label for="title" class="required">Titre</label>
				<input type="text" id="title" name="title" th:value="${title}"
					required="required" maxlength="255" class="form-control" />
			</div>
			<div class="form-group">
				<label for="start" class="required">Date de publication</label>
				<input type="date" id="start" name="publicationDate" th:value="${datePublication}">
			</div>

			<button type="submit">Ajouter le quiz</button>
			
		</form>
	</div>
</body>
</html>