<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<head>
<title>Création de questions</title>
<link rel="stylesheet" th:href="@{/css/homeManager.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navManager"></nav>
	<div class="container">
		<h1 class="ajoutQuiz">Création des questions</h1>
		<form method="post" th:object="${question}"
			th:action="@{/manager/createQuestion/} + ${quizId}"
			enctype="multipart/form-data">
			<div class="form-group">
				<label for="content" class="required">Texte Question</label>
				<input id="content" th:field="*{content}" required="required" class="form-control titreQuiz">
				<div class="form-group">
					<label for="content" class="required titreLabel">Image à télécharger:</label>
					<input type="file" name="questionImage" class="date">
				</div>
				<div class="form-group">
					<h1>Article</h1>
				</div>
				<div class="form-group">
					<label for="articleTitle" class="required titreLabel">Titre de l'article</label> 
					<input id="articleTitle" required="required" class="form-control titreQuiz" th:field="*{article.title}" />
				</div>
				<div class="form-group">
					<label for="articleSummary" class="required titreLabel">Résumé de  l'article</label> 
					<input id="articleSummary" required="required" class="form-control titreQuiz" th:field="*{article.summary}" />
				</div>
				<div class="form-group">
					<label for="articleMedia" class="required titreLabel">Nom du média</label> 
					<input id="articleMedia" required="required" class="form-control titreQuiz" th:field="*{article.media}" />
				</div>
				<div class="form-group">
					<label for="articleLink" class="required titreLabel" titreLabel>Lien du média</label> 
					<input id="articleLink" required="required" class="form-control titreQuiz" th:field="*{article.link}" />
				</div>
				<button type="submit" class="button">Ajouter la question</button>
			</div>
		</form>
	</div>
</body>
</html>