<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>

<head>
<title>Création de l'article</title>
<link rel="stylesheet" th:href="@{/css/homeManager.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<div class="container">
		<h1 class="ajoutQuiz">Création des réponses</h1>
		<form method="post" th:object="${response}"
			th:action="@{/manager/createResponse/} + ${questionId}">
			<div class="form-group">
				<label for="content" class="required titreLabel">Texte de la Réponse</label>
				<input id="content" th:field="*{content}" class="form-control titreQuiz" >
			</div>
			<div class="form-group">
				<label for="isTrue" class="required titreLabel">Réponse correcte</label>
				<input id="isTrue" type="checkbox" th:field="*{isTrue}" class="true">
			</div>
			<button type="submit" class="button">Ajouter une réponse</button>
			<button class="button"><a th:href="@{/manager/quizDetails/} + ${quizId}">Revenir aux questions</a></button>
		</form>
	</div>
</body>
</html>