<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>

	<head>
		<title>Création de quiz</title>
	</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	 	<div class="container">
            <h1>Ajouter un quiz</h1>
	        <form name="quiz" method="post" th:action="@{/public/createQuestion}">
				<div class="form-group"><label for="" class="required">Titre</label><input type="text" id="" name="" required="required" maxlength="255" class="form-control" />
				</div>
				<div class="form-group"><label for="" class="required">Date de publication</label><input type="date" id="start" name="trip-start"
       value=th:text="${#temporals.format(quiz.getPublicationDate(), 'dd/MM/yyyy')}">
				</div>
				
				<button type="submit"><a class="button">Ajouter le quiz</a></button>
				
			</form> 
		</div>
</body>
</html>