<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:insert="/head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{./css/style.css}">
</head>
<body>
	<div class="container ctn-log mt-150 mb-5 bg-white rounded">
		<div class="row">
			<div class="col-md-6 col-sm-12 text-log">
				<h1 class="title-log">QUIZ'ACTU</h1>
				<img class="logo-login" th:src="@{/images/logo6.png}" />
				<h2 class="sub-title text-white p-5">Défiez vos connaissances
					sur l'actualité !</h2>
			</div>
			<div class="col-md-6 col-sm-12">
				<form class="form-signin " th:action="@{/public/form}" method="post">
					<div class="form-group">
						<label for="email">Votre email</label><input id="email"
							name="email" type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="username">Nom d'utilisateur</label> <input
							id="username" name="userName" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label> <input id="password"
							name="password" type="password" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="confirmPassword">Confirmer le mot de passe</label> <input
							id="confirmPassword" name="confirmPassword" type="password"
							class="form-control" required>
					</div>
					<button class="button btn btn-lg btn-primary btn-block w-100">Valider</button>
				</form>
				<h3>
					<a class="link-creat-account" th:href="@{/public/createAccount}">Créer
						un compte</a>
				</h3>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/navbar.html :: footer"></footer>
</body>
</html>