<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>

<head>
<title>Création de questions</title>
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<div class="container">
		<h1>Créations des questions</h1>
		<form method="post" th:action="@{/public/createArticle}">
			<div class="form-group">
				<label for="" class="required">Texte Question</label>
					<textarea id="" name="" required="required" class="form-control"></textarea>
			<div class="form-group">
				<table>
					<tr>
						<td>Image à télécharger:</td>
						<td><input type="file" name="file" enctype="multipart/form-data"/></td> 
					</tr>
				</table>
			</div>
			<button type="submit">Ajouter le quiz</button>	
		</form>		
	</div>
</body>
</html>