<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:insert="/head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{./css/style.css}">
</head>
<body>
	<h1>Veuillez créer votre compte</h1>
	<div class="container">
		<form class="form-signin" th:action="@{/public/form}" method="post">
			<div class="form-group">
				<label for="email">Votre email</label> <input id="email"
					name="email" type="email" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="username">Nom d'utilisateur</label> <input id="username"
					name="userName" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="password">Mot de passe</label> <input id="password"
					name="password" type="password" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirmer le mot de passe</label> <input id="confirmPassword"
					name="confirmPassword" type="password" class="form-control" required>
			</div>
			<button class="btn btn-lg btn-primary btn-block">Valider</button>
		</form>
		<h3>
			<a th:href="@{/login}">Connectez-vous</a>
		</h3>
	</div>
</body>
</html>