<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head.html :: head"></head>
	<head>
		<title>Connexion</title>
	</head>
	<body>
		<h1>Entrez votre adresse mail</h1>
		<div class="container">
			<form class="form-signin" th:action="@{/public/forgotPassword}" method="get">
				<div class="form-group">
					<label for="username">Adresse Mail</label> <input id="username"
						name="mail" class="form-control" required>
				</div>
				<button class="btn btn-lg btn-primary btn-block">Réinitialiser</button>
			</form>
					<h3>
			<a th:href="@{/login}">Connectez-vous</a>
		</h3>
		</div>
	</body>
</html>