<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<head>
<title>Connexion</title>
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<div class="container mt-150">
		<form class="form-signin" th:action="@{/public/forgotPassword}"
			method="get">
			<div class="form-group">
				<label for="emailadress">Adresse Mail</label> <input id="emailadress"
					name="mail" class="form-control" required>
			</div>
			<button class="button btn btn-lg btn-primary btn-block w-100">Réinitialiser</button>
		</form>
		<h3>
			<a th:href="@{/login}">Connectez-vous</a>
		</h3>
	</div>
</body>
</html>