<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="/head.html :: head"></head>
<body>
	<div class="container mt-150">
		<nav th:replace="fragments/navbar.html :: nav"></nav>

		<h1 th:utext="${quiz.title}"></h1>

		<div th:each="question : ${quiz.questions} ">
			<!-- Start question -->
			<div class="d-flex flex-row justify-content-center">
				<img class="img-thumbnail"
				th:if="${question.image != null}" th:src="${question.imageEncoded}" />
				<p th:utext="${question.content}"></p>
				<button type="button" class="btn btn-primary" data-toggle="modal"
					th:data-target="'#' + modalQuestion + ${question.id}" data-whatever="@mdo">editer</button>
				<button type="button" class="btn btn-danger">X</button>
				<div class="modal fade" th:id="modalQuestion + ${question.id}" tabindex="-1"
					role="dialog" th:aria-labelledby="titleModal + ${question.id}"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" th:id="titleModal + ${question.id}">Modification
									de la question</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="post"
									th:action="@{/public/setQuestion/} + ${question.id}" 
									enctype="multipart/form-data">
									<div class="form-group">
										<label th:for="'#' + questionContent + ${question.id}"
											class="col-form-label">Question :</label> <input type="text"
											class="form-control" th:id="questionContent + ${question.id}"
											name="content" th:value="${question.content}">
										<label th:for="'#' + timerQuestion + ${question.id}"
											class="col-form-label">Timer Question :</label> <input type="number"
											class="form-control" th:id="timerQuestion + ${question.id}"
											name="timerQuestion" th:value="${question.timerQuestion}">
										<label th:for="'#' + timerResponse + ${question.id}"
											class="col-form-label">Timer Réponse :</label> <input type="number"
											class="form-control" th:id="timerResponse + ${question.id}"
											name="timerResponse" th:value="${question.timerResponse}">
										<label th:for="'#' + image + ${question.id}"
											class="col-form-label">Image :</label> <input type="file"
											class="form-control" th:id="image + ${question.id}"
											name="image" accept="image/png, image/jpeg">
									</div>
									<div class="modal-footer">

										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Annuler</button>
										<button type="submit" class="btn btn-primary">Enregistrer</button>

									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
			
			<!-- End div question -->
			<div th:each="resp : ${question.responses}">
				<!-- Start div response -->
				<div class="d-flex flex-row justify-content-center">
					<p th:utext="${resp.content}"></p>
					<button type="button" class="btn btn-primary" data-toggle="modal"
						th:data-target="'#' + modalResponse + ${resp.id}" data-whatever="@mdo">editer</button>
					<button type="button" class="btn btn-danger">X</button>
					<div class="modal fade" th:id="modalResponse + ${resp.id}"
						tabindex="-1" role="dialog" th:aria-labelledby="titleModalResponse + ${resp.id}"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:id="titleModalResponse + ${resp.id}">Modification
										de la réponse</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="post"
										th:action="@{/public/setResponse/} + ${resp.id}">
										<div class="form-group">
											<label th:for="'#' + responseContent + ${resp.id}"
												class="col-form-label">Réponse :</label> <input type="text"
												class="form-control" th:id="responseContent + ${resp.id}"
												name="content" th:value="${resp.content}">
										</div>
										<div class="modal-footer">

											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Annuler</button>
											<button type="submit" class="btn btn-primary">Enregistrer</button>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End div response -->
			
			<!-- Start div article -->
			<div class="d-flex flex-row justify-content-center">
				<p th:utext="${question.article.title}"></p>
				<p th:utext="${question.article.media}"></p>
				<p th:utext="${question.article.summary}"></p>
				<a th:href="${question.article.link}" target="_blank">Lien</a>
				
				<button type="button" class="btn btn-primary" data-toggle="modal"
						th:data-target="'#'+  modalArticle + ${question.article.id}" data-whatever="@mdo">editer</button>
					<button type="button" class="btn btn-danger">X</button>
					<div class="modal fade" th:id="modalArticle + ${question.article.id}"
						tabindex="-1" role="dialog" th:aria-labelledby="titleModalArticle + ${question.article.id}"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" th:id="titleModalArticle + ${question.article.id}">Modification
										de l'article</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form method="post"
										th:action="@{/public/setArticle/} + ${question.article.id}">
										<div class="form-group">
											<label th:for="articleTitle + ${question.article.id}"
												class="col-form-label">Titre :</label> <input type="text"
												class="form-control" th:id="articleTitle + ${question.article.id}"
												name="title" th:value="${question.article.title}">
											<label th:for="articleMedia + ${question.article.id}"
												class="col-form-label">Titre :</label> <input type="text"
												class="form-control" th:id="articleMedia + ${question.article.id}"
												name="media" th:value="${question.article.media}">
											<label th:for="articleLink + ${question.article.id}"
												class="col-form-label">Titre :</label> <input type="text"
												class="form-control" th:id="articleLink + ${question.article.id}"
												name="link" th:value="${question.article.link}">
											<label th:for="articleSummary + ${question.article.id}"
												class="col-form-label">Titre :</label> <input type="text"
												class="form-control" th:id="articleSummary + ${question.article.id}"
												name="summary" th:value="${question.article.summary}">
										</div>
										<div class="modal-footer">

											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Annuler</button>
											<button type="submit" class="btn btn-primary">Enregistrer</button>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
			</div>
			
		</div>
	</div>
	
				

			<!-- <p th:utext="${question.content}"></p>

			<div th:each="resp : ${question.responses}">
				<p th:utext="${resp.content}"></p>
			</div> -->


	
	

</body>
</html>