<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:insert="/head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{./css/styles.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<table class="table table-striped" style="color: white;">
                <thead>
                    <tr>
                    	<th>Rank</th>
                        <th>Pseudo</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
         				<td>1</td>
                        <td>John</td>
                        <td>698740</td>
                    </tr>
                </tbody>
	





	<table class="WorldTable">
	<thead>
		<tr>
			<th>World Rank</th>
		</tr>
		<tr>
			<th>Rank</th>
			<th>UserName</th>
			<th>Score</th>
		</tr>
		
	</thead>
	<tbody>
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>
	</tbody>	
	</table>
	<table class="FBRank">
	<thead>
		<tr>
			<th>FB Rank</th>
		</tr>
		<tr>
			<th>Rank</th>
			<th>UserName</th>
			<th>Score</th>
		</tr>
		
	</thead>
	<tbody>
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>		
		<tr>
			<td>user_id</td>
			<td>userName</td>
			<td>score_id</td>
		</tr>
	</tbody>	
	</table>
</body>
</html>