<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<head th:insert="/head.html :: head"></head>
</head>
<body>

	<!-- NAV NOT LOGGED IN -->
	<nav class="navbar navbar-light navbar-expand-lg fixed-top"
		id="mainNav" th:if="${#httpServletRequest.remoteUser == null}">
		<div class="container ctn-nav ">
			<a class="navbar-brand js-scroll-trigger title-nav navbar-connexion"
				th:href="@{/}"><img class="logo mr-2 "
				th:src="@{/images/logo6.png}" alt="">Quiz'Actu</a>
		</div>
	</nav>

	<!-- NAV LOGGED IN -->
	<nav class="navbar navbar-light navbar-expand-lg fixed-top"
		id="mainNav" th:if="${#httpServletRequest.remoteUser != null}">
		<div class="container ctn-nav">
			<a class="navbar-brand js-scroll-trigger title-nav" th:href="@{/}"><img
				class="logo mr-2" th:src="@{./images/logo6.png}" alt="">Quiz'Actu</a>
			<button data-toggle="collapse" data-target="#navbarResponsive"
				class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item mx-0 mx-lg-1 dropdown"><a
						class="nav-link dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
						href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Quiz </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Quiz du jour</a><a
								class="dropdown-item" href="#">Quiz -1</a><a
								class="dropdown-item" href="#">Quiz -2</a>
						</div></li>
					<li class="nav-item mx-0 mx-lg-1" role="presentation"><a
						class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
						th:href="@{/ranking}">Classement</a></li>
					<li class="nav-item mx-0 mx-lg-1 dropdown"><a
						class="nav-link dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
						href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">

							[[${#httpServletRequest.remoteUser}]]</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a th:href="@{/changedPassword}" class="dropdown-item" href="#">
								<i class="fa fa-user pr-1"></i> Mon compte
							</a> <a class="dropdown-item" href="#">
								<form th:action="@{/logout}" class="mt-0" method="post">
									<i class="fa fa-power-off"></i>
									<button id="logout-btn">Se déconnecter</button>
								</form>
							</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>