html {

	background: linear-gradient(to top, #2fa264, #EAF5EF);
}

.navAccount {
	width: 60%;
    border: solid 1px white;
    margin-top: 10em;
    border-radius: 50px;
    display: inline-flex;
}


.fa-5x{
    font-size: 170px;
}

.fa{
    padding: 25px;
}

.navAccount h3{
	display: inline-grid;
}

.placeCard {
	width: 100%;
}

.card-body {
	margin-left: -2em;
}

.card-title {
	margin-left: 1em;
}

.card-text {
	margin-left: 1.4em;
}

.question {
	text-align: left;
	margin-left: 0.6em;
}

.questionReponse {
	text-align: left;
	margin-left: -0.5em
}

.sizePolice p{
	font-size:20px;
	margin: 0 auto;
    width: 100px;
	
}

.favoris {
	padding-bottom: 1em;
}

.reponseCard {
	text-align: left;
	margin-top: -0.1em;
	margin-left: 1em;
}

.reseaux {
	margin-top: 1em;
	margin-left: -1em;
}

@media screen and (max-width: 640px) {
	.navAccount {
		width: 100%;
	}
	
	.card-img {
		margin-top: -1.6em;
	}
	
	.text-muted {
		margin-top: 1em;
	}
	
	.question {
		margin-top: -0.4em;
	}
	
	.reseaux {
		margin-left: 1em;
	}
}