.news {
	background: #e8e8e8;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
	color: #4A4A4A;
	border: 1px solid #9FE6BB;
	border-radius: 3px;
	margin: 1rem 0;
	height: auto;
}

.news:hover {
	box-shadow: 0px 21px 36px -14px rgba(220, 220, 220, 1);;
}

.news .img-figure {
	position: relative;
	max-height: 200px;
}

.news .img-figure .img-responsive {
	width: 100%;
}

.news .img-figure img {
	position: relative;
	overflow: hidden;
	transition: all 1s ease;
	bottom: 0;
}

.news:hover .img-figure img {
	transform: scale(1.10);
}

.news .title {
	padding: .5rem;
	position: relative;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
}

.news .title span {
	font-size: 1rem;
	color: #929292;
}

.news .title h3 {
	margin: 1rem 0 0 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	color: #444;
	text-align: center;
	transition: all 0.5s ease;
	text-transform: uppercase;
}

.news:hover .title {
	color: #9FE6BB;
	cursor: pointer;
}

.news:hover .title h1 {
	color: #9FE6BB;
}

.news  p.description {
	position: relative;
	font-weight: normal;
	line-height: 22px;
	opacity: 0;
	text-align: left;
	padding: 15px 20px 0px 20px;
	transition: all 0.5s ease;
}

.news .button {
	position: relative;
    background-color: #9FE6BB;
    border-color: #9FE6BB;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0.3rem 4rem;
}

.news .button:hover {
	background-color: white;
	color: #929292;
	border: 1px solid #9FE6BB;
}

.table {
	background-color: white;
	color: #14213D;
}

thead {
	background-color: #9FE6BB;
	color: white;
}
.dashboard-ranking {
	margin: 1rem 0;
}

/*------------------------------------- MEDIA QUERIES --------------------------------------------*/

@media screen and (min-width: 992px) {
	.news .quiz-of-day {
		max-height:300px;
		bottom: 4rem;
	}
}
