.tableau{
	border: solid 2px black !important;
    border-radius: 40px !important;
    margin-top: 95px !important;
}

.upTable{
	background: #D3D3D3;
}



/* A voir {
	display: inline;
	border: solid 2px black;
    border-radius: 40px;
    background: #9FE6BB;
    margin-top: 95px;
} */