/*------------------------------------- GLOBAL PAGE RESULT -------------------------------------------*/
.result a {
	display: block;
	width: 100%;
	color: grey;
	padding: 1rem 0;
	transition: 0.8s;
}

.result a:hover {
	color: black;
}

.result .quizActu-title {
	width: auto;
	margin: 0;
}

.result .card {
	height: 100%;
}

.result .card-body {
	padding: .5rem
}

.result .card .card-text {
	font-weight: bold;
}
/*------------------------------------- END GLOBAL PAGE RESULT ---------------------------------------*/
/*----------------------------------------- RESULT QUIZ ----------------------------------------------*/
.result-trophy-score {
	line-height: 1;
}

.result-trophy-score:before {
	font-family: "FontAwesome";
	content: '\f091';
	color: #9fe6bb;
	font-size: 15rem;
}

.result-trophy-score-txt {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -12rem);
	text-shadow: 2px 2px 6px rgba(52, 52, 52, 0.8);
	font-size: 3.5rem;
	color: #3c3c3c;
}

.result-score {
	display: inline-flex;
	font-size: 1.2rem;
}

.result-score-txt {
	font-weight: bold;
	margin-left: .8rem;
}
/*----------------------------------------- END RESULT QUIZ ------------------------------------------*/
/*------------------------------------- FALSE ANWSER -----------------------------------------------*/
.false-anwser-article-title {
	font-style: italic;
	font-size: inherit; padding : 1rem 0;
	border-top: 1px solid grey;
	transition-duration: 0.8s;
	padding: 1rem 0;
}

.false-anwser .article-link {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	color: grey;
	cursor: pointer;
}

.false-anwser .article-link a {
	width: auto;
	transition: 0.8s;
	padding: 0 1rem;
}

.false-anwser .article-link a:hover {
	color: black;
}
/*------------------------------------- END FALSE ANWSER -----------------------------------------*/
/*------------------------------------- ACCORDION -----------------------------------------------*/
.accordion {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid grey;
}

.accordion-item {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.accordion-item .toggle {
	cursor: pointer;
	text-align: center;
	padding: .5rem;
	background-color: #ffffff6b;
	color: #2b5724;
	border: 1px solid grey;
	transition: 0.5s;
	margin: .5rem auto;
	width: intrinsic; /* Safari/WebKit utilisent un nom non-standard */
	width: -moz-max-content; /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
}

.accordion-item .toggle:hover {
	background-color: #ffffff99;
}

.accordion-item .content .inner {
	overflow: hidden;
	max-height: 0;
	transition: 0.4s ease-in-out;
	margin-top: 0;
}

.accordion-item .content.active .inner {
	max-height: 600px;
}

.accordion-item .content .inner .article-title {
	font-style: italic;
}

.accordion-item .content .inner .article-link {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	color: grey;
	cursor: pointer;
}

.accordion-item .content .inner .article-link a {
	width: auto;
	transition: 0.8s;
	padding: 0 1rem;
}

.accordion-item .content .inner .article-link a:hover {
	color: black;
}
/*------------------------------------- END ACCORDION --------------------------------------------*/
.back-home {
	margin-bottom: 2rem;
}
/*------------------------------------- MEDIA QUERIES --------------------------------------------*/
/*
*
* NOT MEDIA QUERIES ; ALL RESPONSIVE IS GENERATED WITH BOOTSTRAP CLASSES IN HTML
*
*/