

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html :: head"></head>

<head>

<title>Articles</title>

</head>

<body>

	<nav th:replace="fragments/navbar.html :: nav"></nav>

	<h1>Mon compte</h1>
	<p th:text="${totalScore}"></p>
	
	<h3 class="mb-3">Articles favoris</h3>
	<div class="container">
			<div class="card mb-3" style="max-width: 540px;margin: auto;"
				th:each="article : ${account.articles}">
				<div class="row no-gutters">
					<div class="col-md-4">
						​ <small class="text-muted" th:text="${article.media}"></small> <img
							th:src="${article.question.imageEncoded}" class="card-img"
							alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title" th:text="${article.title}"></h5>
							<p class="card-text" th:text="${article.summary}"></p>
							<a class="card-text" th:href="${article.link}">Lien</a>
						</div>
					</div>
				</div>
			</div>
	</div>
</body>
</html>

