<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<head>
<title>Changement du mot de passe</title>
<link rel="stylesheet" th:href="@{/css/account.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navUser"></nav>
	<div class="container account">
		<div class="navAccount"
			th:if="${#httpServletRequest.remoteUser != null}">
			<div>
				<!-- Si l'user à changer son avatar -->
				<div class="image-border">
					<img alt="avatar" th:src="@{/images/agathe.png}">
				</div>
				<!-- Si l'user laisse l'avatar par défaut -->
				<!--<div class="icone-border"> -->
				<!--	<span class="fa fa-user-circle fa-5x icone"></span> -->
				<!--</div> -->
			</div>
			<div class="headUser">
				<h3 class="quizActu-title" th:inline="text">[[${#httpServletRequest.remoteUser}]]</h3>
				<p class="mail" th:utext="| Adresse mail : ${account.email} |"></p>
				<p th:utext="| Score : ${account.score} |" class="score"> </p> 
			</div>
		</div>
		<div class="changedPwd">
			<h3>Vous pouvez changer votre mot de passe</h3>
			<form class="form-signin" th:action="@{/changedPassword}"
				method="post">
				<input type="hidden" name="id" th:value="${connectedId}">
				<div class="form-group">
					<label for="newPassword">Nouveau mot de passe</label> <input
						id="newPassword" name=newPassword type="password"
						class="form-control" required>
				</div>
				<!-- <div class="form-group"> -->
				<!-- 	<input id="newPassword" name="newPassword" type="password" class="form-control" required> -->
				<!-- </div>  -->
				<button class="button">Valider</button>
			</form>
		</div>
	</div>
	<footer th:replace="fragments/navbar.html :: footer"></footer>
</body>
</html>