<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<head>
<title>Changement du mot de passe</title>
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<div class="container mt-150">
		<h1>Vous pouvez changer votre mot de passe</h1>
		<form class="form-signin" th:action="@{/changedPassword}"
			method="post">
			<input type="hidden" name="id" th:value="${connectedId}">
			<div class="form-group">
				<label for="newPassword">Nouveau mot de passe</label> <input
					id="newPassword" name=newPassword type="password"
					class="form-control" required>
			</div>
			<!-- 				 <div class="form-group"> -->
			<!-- 					<input id="newPassword" name="newPassword" type="password" class="form-control" required> -->
			<!-- 				</div>  -->
			<button class="btn btn-lg btn-primary btn-block">Valider</button>
		</form>
	</div>
</body>
</html>