<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<head>
<title>Changement du mot de passe</title>
<link rel="stylesheet" th:href="@{/css/favoriteArticle.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>


	<div class="navAccount"
		th:if="${#httpServletRequest.remoteUser != null}">
		<span class="fa fa-user-circle fa-5x icone"></span>
		<div class="headUser">
			<h3 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h3>
			<i th:text="| Score : ${totalScore} |"> </i>
		</div>

	</div>

	<div class="container mt-150 changedPwd">
		<h1>Vous pouvez changer votre mot de passe</h1>
		<form class="form-signin" th:action="@{/changedPassword}"
			method="post">
			<input type="hidden" name="id" th:value="${connectedId}">
			<div class="form-group">
				<label for="newPassword">Nouveau mot de passe</label> <input
					id="newPassword" name=newPassword type="password"
					class="form-control" required>
			</div>
			<!-- <div class="form-group"> -->
			<!-- 	<input id="newPassword" name="newPassword" type="password" class="form-control" required> -->
			<!-- </div>  -->
			<button class="button">Valider</button>
		</form>
	</div>
</body>
</html>