<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="/head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{/css/homePage.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navUser"></nav>
	<div class="container homePage">
		<div class="msgUser" th:if="${#httpServletRequest.remoteUser != null}">
			<h2 th:inline="text" class="quizActu-title">Bienvenue
				[[${#httpServletRequest.remoteUser}]]</h2>
		</div>
		<div class="row">
			<!-- Quiz of the day -->
			<div class="col-sm-12">
				<div class="news" th:if="${quizOfTheDay != null}">
					<div class="img-figure quiz-of-day">
						<img th:if="${firstPictureOfQuizOfTheDay != null}"
							th:src="${firstPictureOfQuizOfTheDay}" class="img-responsive">
						<img th:if="${firstPictureOfQuizOfTheDay == null}"
							th:src="@{/images/logo6.png}" />
					</div>
					<div class="title">
						<span
							th:utext="${#temporals.format(quizToday, 'EEEE dd MMMM yyyy')}"></span>
						<h3>Quiz du jour</h3>
						<a th:href="@{/timer/today}" class="button">Jouer</a>
					</div>
				</div>
				<div class="news not-quiz" th:if="${quizOfTheDay == null}">
					<div class="img-figure quiz-of-day">
						<img th:src="@{/images/logo6.png}" class="img-responsive" />
					</div>
					<div class="title">
						<p class="strong">Désolé, il n'y a pas de quiz aujourd'hui.</p>
					</div>
				</div>
			</div>
			<!-- End quiz of the day -->
		</div>
		<div class="row">
			<div class="col-lg-6">
				<!-- Start quiz of yesterday -->
				<div class="news" th:if="${quizOfYesterday != null}">
					<div
						th:if="${defaultPictureTwo != 'Impossible d afficher l image'}"
						class="img-figure">
						<img th:src="${firstPictureOfQuizYesterday}"
							class="img-responsive">
					</div>
					<div class="title">
						<h3>Quiz de la veille</h3>
						<a th:href="@{/timer/yesterday}" class="button">Jouer</a>
					</div>
				</div>
				<div class="news not-quiz" th:if="${quizOfYesterday == null}">
					<div class="img-figure quiz-of-day">
						<img th:src="@{/images/logo6.png}" class="img-responsive" />
					</div>
					<div class="title">
						<p class="strong">Désolé, il n'y a pas de quiz pour ce jour.</p>
					</div>
				</div>
			</div>
			<!-- End quiz of yesterday -->
			<div class="col-lg-6">
				<!-- start quiz of before yesterday -->
				<div class="news" th:if="${quizOfBeforeYesterday != null}">
					<div
						th:if="${defaultPictureThree != 'Impossible d afficher l image'}"
						class="img-figure">
						<img th:src="${firstPictureOfQuizBeforeYesterday}"
							class="img-responsive">
					</div>
					<div class="title">
						<h3>Quiz de l'avant veille</h3>
						<a th:href="@{/timer/dayBeforeYesterday}" class="button">Jouer</a>
					</div>
				</div>
				<div class="news not-quiz" th:if="${quizOfBeforeYesterday == null}">
					<div class="img-figure quiz-of-day">
						<img th:src="@{/images/logo6.png}" class="img-responsive" />
					</div>
					<div class="title">
						<p class="strong">Désolé, il n'y a pas de quiz pour ce jour.</p>
					</div>
				</div>
			</div>
			<!-- End quiz of before yesterday -->
		</div>
		<div class="dashboard-ranking">
			<h2 class="quizActu-title">Classement</h2>
			<h3>Top 10</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${users}">
						<td th:text="${user.getUsername()}" />
						<td th:text="${user.getScore()}" />
					</tr>
				</tbody>
			</table>
			<a th:href="@{/ranking}" class="button">Voir le classement</a>
		</div>
	</div>
	<footer th:replace="fragments/navbar.html :: footer"></footer>
</body>
</html>