<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="/head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{/css/homePage.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navUser"></nav>
	<div class="container mt-150">
		<div class="msgUser"
			th:if="${#httpServletRequest.remoteUser != null}">
			<h2 th:inline="text" class="quizActu-title">Bienvenue
				[[${#httpServletRequest.remoteUser}]]</h2>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="news">
					<div class="img-figure">
						<img th:src="@{/images/media.jpg}" class="img-responsive">
					</div>
					<div class="title">
						<span th:utext="${#temporals.format(quizToday, 'EEEE dd MMMM yyyy')}"></span>
						<h3>Quiz du jour</h3>
						<a th:href="@{/timer/today}" class="button">Jouer</a>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="news">
					<div class="img-figure">
						<img th:src="@{/images/journalism.jpg}" class="img-responsive">
					</div>
					<div class="title">
						<h3>Quiz de la veille</h3>
						<a th:href="@{/timer/yesterday}" class="button">Jouer</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="news">
					<div class="img-figure">
						<img th:src="@{/images/magazine.jpg}" class="img-responsive">
					</div>
					<div class="title">
						<h3>Quiz de l'avant veille</h3>
						<a th:href="@{/timer/dayBeforeYesterday}" class="button">Jouer</a>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-ranking">
			<h2 class="quizActu-title">Classement</h2>
			<h3>Top 10</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Pseudo</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${users}">
						<th:block th:if="${user.role.id == 3}">
							<td th:text="${user.getUsername()}" />
							<td th:text="${user.getScore()}" />
						</th:block>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/ranking}" class="button">Voir le classement</a>
		</div>
	</div>
</body>
</html>