<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{/css/homePage.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: navUser"></nav>
	<div class="container mt-5">
		<h2>Le quiz d'aujourd'hui à déjà été fait !</h2>
		<h3>Vous pouvez faire les autres quiz :</h3>
	</div>
	<div class="container mt-3">
		<div th:if="${yesterday != null}">
			<div class="row">
				<div class="col-lg-12">
					<div class="news" th:if="${quizOfYesterday != null}">
						<div class="img-figure quiz-of-day">
							<img th:if="${firstPictureOfQuizYesterday != null}"
								th:src="${firstPictureOfQuizYesterday}" class="img-responsive">
							<img th:if="${firstPictureOfQuizYesterday == null}"
								th:src="@{/images/logo6.png}" />
						</div>
						<div class="title">
							<h3>Quiz de la veille</h3>
							<a th:href="@{/timer/yesterday}" class="button">Jouer</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div th:if="${dayBeforeYesterday != null}">
			<div class="row">
				<div class="col-lg-12">
					<div class="news" th:if="${quizOfBeforeYesterday != null}">
						<div class="img-figure quiz-of-day">
							<img th:if="${firstPictureOfQuizBeforeYesterday != null}"
								th:src="${firstPictureOfQuizBeforeYesterday}"
								class="img-responsive"> <img
								th:if="${firstPictureOfQuizBeforeYesterday == null}"
								th:src="@{/images/logo6.png}" />
						</div>
						<div class="title">
							<h3>Quiz de l'avant veille</h3>
							<a th:href="@{/timer/dayBeforeYesterday}" class="button">Jouer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 ml-auto mr-auto my-5">
				<a th:href="@{/}" class="button">Retourner à l'accueil</a>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/navbar.html :: footer"></footer>
</body>
</html>
