<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:insert="/head.html :: head"></head>
<head>
<link rel="stylesheet" th:href="@{./css/styles.css}">
</head>
<body>
	<nav th:replace="fragments/navbar.html :: nav"></nav>
	<div class="container mt-150">
		<h2 class="quizActu-title">Classement</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Pseudo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userScore: ${usersScore}">
					<td th:text="${userScore.getUsername()}" />
					<td th:text="${userScore.getScore()}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>